body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; 
  user-select: none
}

.panel {
  z-index: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.attr {
  margin: 0 auto;
  background: #5C5C5C;
  height: 6%;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
}

.attr_ele {
  display:flex;
  flex-direction: row;
}

.attr_name {
  padding: 0 0.5rem;
  height: 1.7rem;
  background: pink;
  margin: auto 0rem auto 1rem;
  color: darkslategrey;
  line-height: 1.7rem;
}

.attr_value {
  color: darkslategrey;
  background: silver;
  padding: 0 0.5rem;
  height: 1.7rem;
  margin: auto;
  line-height: 1.7rem;
}

#login {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 44%;
}

input {
  margin: auto;
  background-color: #ffffff;
  outline: none;
}

button {
  margin: auto;
}

#chat_input input {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
}
