body {
  margin: 0;
  overflow: hidden;
}

.panel {
  z-index: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.attr {
  margin: 0 auto;
}
/*
#game {
  z-index: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*/
#login {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 44%;
}

input {
  margin: auto;
  background-color: #ffffff;
}

button {
  margin: auto;
}

